* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

label {
    color: #00eaff;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

body {
    height: 100vh;
    background: url('background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 320px;
    animation: fadeIn 1s ease-in;
    position: relative; 
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-40px); }
    to { opacity: 1; transform: translateY(0); }
}

h2 {
    color: #00eaff;
    margin-bottom: 20px;
}


.password-input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: all 0.4s;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
}



input[type="password"] {
    padding-right: 45px; 
}

input::placeholder {
    color: #ddd;
}

input:focus {
    outline: none;
    border: 1px solid #00eaff;
    box-shadow: 0px 0px 10px #00eaff;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    transition: all 0.3s ease;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.toggle-password:hover {
    color: #00CCFF;
    text-shadow: 0 0 10px rgba(0, 204, 255, 0.8);
    transform: translateY(-50%) scale(1.1);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: linear-gradient(45deg, #00eaff, #0077ff);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(45deg, #00faff, #3399ff);
}

p {
    margin-top: 15px;
    color: white;
}

p a {
    color: #00eaff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-container {
        width: 85%;
        padding: 15px 25px;
    }
}

